/* mobile first 280px à 414px */

* {
  top: 0;
  margin: 0;
}

h1,
h2 {
  text-transform: uppercase;
}

h1 {
  font-family: 'Sarpanch', sans-serif;
  color: #ffffff;
  transform: rotateY(180deg);
}

h2 {
  font-family: 'Rye', cursive;
  text-align: center;
  margin: 5% 0;
}

nav {
  width: 100%;
  margin: 2% 2%;
}

ul {
  display: flex;
  justify-content: space-evenly;
}

ul li {
  list-style-type: none;
  background-color: #E5E5E5;
}

section {
  width: 100%;
}

p {
  margin: 10%
}

p,
ul li {
  font-family: 'Rochester', cursive;
}

.logo {
  width: 50%;
  margin: 0 25%;
}

.main_container,
.sunset_container {
  height: 160px;
  background-size: cover;
  background-repeat: no-repeat;
}

.main_container {
  width: 90%;
  margin: 0 5%;
  background-image: url('../img/winged_horses.jpg');
  transform: rotateY(180deg);
}

.sunset_container {
  width: 100%;
  background-image: url('../img/sunset.jpg');
}

.sunset_container > p {
  margin: 0 5% 0 20%;
}

.wide_pictures {
  width: 100%;
}

.iron_main_container,
.hoof_containers,
.ranch_main_container {
  width: 100%;
  display: flex;
}

.iron_main_container,
.ranch_main_container,
.main_hoof_container {
  flex-direction: column;
  margin-bottom: 5%;
}

.ranch_left_container > p,
.iron_left_container > p {
  margin-top: 0;
}

.iron_left_picture,
.iron_right_picture,
.ranch_left_picture,
.ranch_right_picture {
  width: 90%;
}

.hoof_elements {
  width: 100%;
}


.iron_left_picture,
.iron_right_picture,
.ranch_left_picture,
.ranch_right_picture,
.hoof_elements {
  border-radius: 30px;
  margin: 0 5%;
}

.iron_left_picture {
  margin-bottom: 1%;
}


@media screen and (min-width: 414px) and (max-width: 768px) {

  .main_container,
  .sunset_container {
    height: 270px;
  }
} 

@media screen and (min-width: 768px) and (max-width: 992px) {

  .iron_main_container {
    flex-direction: row;
  }

  .iron_left_container,
  .iron_right_container {
    width: 50%;
  }
  
  .iron_left_picture {
    z-index: 5;
    position: relative;
    margin-left: 90px;
  }

  .iron_right_picture {
    position: relative;
    margin-right: 150px;
  }

  .iron_left_container > p,
  .iron_right_container > p {
    height: 150px;
    margin: 5%;
  }

}
  


/*

@media screen and (min-width: 992px) and (max-width: 1200px) {} 
  
@media screen and (min-width: 1200px) {}*/